<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.td.turtlediary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.td.turtlediary.AddPetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.td.turtlediary.ModifyPetActivity"
            android:label="@string/title_activity_modify_pet" >
        </activity>
        <activity android:name="com.td.turtlediary.OptionActivity" >
        </activity>
        <activity android:name="com.td.turtlediary.EnvironmentListActivity" >
        </activity>
        <activity
            android:name="com.td.turtlediary.HomePageActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.td.turtlediary.ReportActivity" >
        </activity>
        <activity android:name="com.td.turtlediary.AllocateFoodActivity" >
        </activity>
        <activity android:name="com.td.turtlediary.SelectFoodsActivity" >
        </activity>
        <activity
            android:name="com.td.turtlediary.EnvironmentActivity"
            android:label="@string/title_activity_environment" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>